Flask

beautifulsoup4 == 4.9.1

email-validator == 1.1.2

plyer == 2.0.0

pyjokes == 0.6.0

pywebview == 3.4

pywhatkit == 3.8

requests == 2.21.0

wikipedia == 1.4.0

wolframalpha == 4.1.1

yagmail == 0.14.245

keyring

gevent

cryptocode
